<div class="avoid_pagebreak">
  <h4>EXPERIENCE</h4>
  <div class="row experience">
        <div class="large-12 medium-6 small-12 columns  animated fadeIn">
      <div class="year"><img class="work-logo" src="{{ url('theme://img/arenacube-logo.jpg') }}"></div>
      <div class="exp_data">
        <div class="date">From September 2015 to July 2016</div>
        <div class="role">Junior Front End Developer.</div>
        <div class="company">ArenaCube</div>
      </div>
    </div>
        <div class="large-12 medium-6 small-12 columns  animated fadeIn">
      <div class="year"><img class="work-logo" src="{{ url('theme://img/gig.png') }}"></div>
      <div class="exp_data">
        <div class="date">From August 2016 to present</div>
        <div class="role">Front End Developer - Sportsbook.</div>
        <div class="company">Gaming Innovation Group</div>
      </div>
    </div>
      </div>
</div>